*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.white {
    color: white;
}
/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #000010;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

#intro {
    position: absolute;
    top: 50%;
    padding: 0 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down-wrapper {
    position: absolute;
    bottom: 10%;
    padding: 0 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}



.socials a {
    color: #5cbdaa;
    color: white;
    font-size: 2em;
    margin-right: 8px;
}

.socials a:hover {
    color: #5bbca9;
    text-decoration: underline;
}

    #intro h2 {
        text-transform: uppercase;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 0.05em;
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
        box-shadow: -1px 0px 8px #5cbdaa;
        border-radius: 5px;
        background: #5cbdaa63;
        padding: 9px;
    }

#intro h3 {
    font-family: 'Audiowide', cursive;
    font-size: 18px;
    line-height: 19px;
    margin-top: 20px;
    color: white;
}

.socials {
    margin-top: 30px;
}

.arrow-btn {
    position: absolute;
    text-align: center;
    height: 66px;
    cursor: pointer;
    padding: 10px;
}


.menu-bar {
    background: #000000;
    box-shadow: -1px 0px 8px #5cbdaa;
    z-index: 1;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Audiowide', cursive;
    font-size: 26px;
    margin-right: 20px;
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #5cbdaa !important;
}

.navbar {
    background: black;
    margin: 0 auto;
}

.about-me {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #313131;
}

    .about-me h1 {
        font-family: 'Iceland', cursive;
        font-weight: 700;
        color: #5cbdaa;
    }

    .about-me h3 {
        font-family: 'Iceland', cursive;
        color: #ffffff;
    }

.marvs-pic {
    width: auto;
    box-shadow: 0px 0px 8px 3px #0e0e0e;
    max-height: 380px;
    border-radius: 5px;
}

.my-portfolio-btn {
    padding: 16px;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    box-shadow: 0px 0px 8px #5cbdaa;
    border-radius: 5px;
    background: #00000063;
    color: white;
    cursor: pointer;
}

    .my-portfolio-btn:hover {
        box-shadow: 0px 0px 8px #ffffff;
        color: #5cbdaa;
    }

.exp-section {
    background: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

    .exp-section h1 {
        font-size: 24px;
        font-family: 'Audiowide', cursive;
        color: white;
        padding-bottom: 40px;
        color: #5cbdaa;
    }

    .exp-section h3, .exp-section h4, .exp-section h5 {
        color: white;
        font-family: 'Orbitron', sans-serif;
    }

    .exp-section h3 {
        font-size: 18px;
    }

    .exp-section h5 {
        font-size: 14px;
    }

    .exp-section h2 {
        font-size: 14px;
        color: white;
        font-family: 'Orbitron', sans-serif;
    }

    .exp-section ul li {
        list-style: disc;
        color: #5cbdaa;
        margin-top: 16px;
    }

    .exp-section ul li span {
        color: white;
    }

.exp-wrapper {
    display: inline-flex;
}

@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #intro h2 {
        font-size: 25px;
    }

    #intro h3 {
        font-size: 24px;
    }

    .about-me h1 {
        font-size: 45px;
    }

    .exp-section h1 {
        font-size: 45px;
    }

    .about-me-wrapper {
        display: inline-flex;
    }

    .marvs-pic {
        float: right;
    }

}


@media (max-width: 768px) {
    .marvs-pic {
        margin-top: 70px;
        width: 100%;
    }

    .exp-wrapper {
        display: block;
    }

    .border-top-green {
        border-top: 1px solid #5cbdaa;
        margin-top: 30px;
        padding-top: 26px;
    }
}

@media (max-width: 992px) {
    .navbar {
        width: 100%;
    }

    .navbar-toggler {
        background: #499788 !important;
        width: 100%;
    }



}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #intro h2 {
        font-size: 33px;
    }


    .border-left-green {
        border-left: 1px solid #5cbdaa;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #intro h2 {
        font-size: 40px;
    }

    #intro h3 {
        font-size: 30px;
    }

    .about-me h1 {
        font-size: 62px;
    }

    .exp-section h1 {
        font-size: 62px;
    }

    .about-me h3 {
        font-family: 'Iceland', cursive;
        font-size: 36px;
    }
}

/*larger devices (Extra large desktops, 1500px and up)*/
@media (min-width: 1500px) {
    #intro h2 {
        font-size: 50px;
    }

    #intro h3 {
        font-size: 32px;
    }

    .about-me h1 {
        font-size: 75px;
    }

    .exp-section h1 {
        font-size: 60px;
    }

    .about-me h3 {
        font-size: 40px;
    }
}

